@import '../components/block-card/block-card.component.scss';

.slate-editable-container {
    display: block;
    outline: none;
    padding: 32px;
    white-space: pre-wrap;
    & [contenteditable="true"] {
        outline: none;
    }
}
.slate-spacer {
    height: 0;
    color: transparent;
    outline: none;
    position: absolute;
}

