$editor-width: 800px;

.demo-rich-editor-wrapper {
    width: $editor-width;
    margin: 0 auto;
    margin-top: 80px;
    border: 1px solid #eee;
    &.single {
        width: 690px;
        margin: 0 auto;
    }
    .demo-global-toolbar {
        display: flex;
        justify-content: left;
        position: sticky;
        top: 0;
        z-index: 999;
        background-color: white;
        & > * {
            display: inline-block;
            height: 24px;
            line-height: 24px;
        }
        & > * + * {
            margin-left: 15px;
        }
        padding: 12px 28px 10px 28px;
        border-bottom: 2px solid #eee;
    }
}
.element-image-wrap {
    & img {
        width: 100%;
    }
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
