<div class="header">
    <span class="title">Slate Angular Examples</span>
    <div class="link">
        <a target="_blank" href="https://github.com/worktile/slate-angular" class="github">GitHub</a>
        <a target="_blank" href="https://docs.slatejs.org/" class="docs">Docs</a>
    </div>
</div>
<div class="sidenav">
    <div class="nav-menu">
        <div class="menu-item" *ngFor="let item of menus">
            <a [routerLink]="item.url" class="vertical-menu-item level-1" [ngClass]="{'selected': isSelected(item)}" style="position: relative;" target="_self"><span>{{ item.name }}</span>
            </a>
        </div>
    </div>
</div>
<div class="content">
    <router-outlet></router-outlet>
</div>