.slate-editable-container {
    .code-line {
        background-color: rgba($color: #000000, $alpha: 0.06);
        border-radius: 2px;
        border: 1px solid rgba($color: #000000, $alpha: 0.08);
        padding: 0 2px;
        margin: 0 1px;
    }

    blockquote {
        margin: 0;
        margin-left: 0;
        margin-right: 0;
        color: #888;
        padding-left: 10px !important;
        border-left: 4px solid #eee;
    }
    
    h1,h2,h3 {
        margin: 0px;
    }

    &>[data-slate-node="element"],&>slate-block-card {
        margin-bottom: 12px;
    }
}