.slate-editable-container {
    [slate-underlined][slate-strike] {
        text-decoration: underline line-through;
    }

    [slate-strike] {
        text-decoration: line-through;
    }

    [slate-underlined] {
        text-decoration: underline;
    }

    [slate-italic] {
        font-style: italic;
    }

    [slate-bold] {
        font-weight: bold;
    }

    [slate-placeholder] {
        position: absolute;
        pointer-events: none;
        width: 100%;
        max-width: 100%;
        display: block;
        opacity: 0.333;
        user-select: none;
        text-decoration: none;
    }

    [slate-code-line] {
        margin: 0 4px;
        padding: 2px 3px;
        border: 1px solid rgba($color: #000000, $alpha: 0.08);
        border-radius: 2px;
        background-color: rgba($color: #000000, $alpha: 0.06);
    }

    blockquote {
        margin: 0;
        margin-left: 0;
        margin-right: 0;
        color: #888;
        padding-left: 10px !important;
        border-left: 4px solid #eee;
    }
    
    h1,h2,h3 {
        margin: 0px;
    }

    &>[data-slate-node="element"],&>slate-block-card {
        margin-bottom: 12px;
    }
}