.demo-mention-view {
    background: #eee;
    padding: 0px 8px;
    border-radius: 12px;
    color: #666;
    white-space: nowrap;
    display: inline-block;
    margin: 0 1px;
    line-height: 22px;
    &.focus {
        box-shadow: 0 0 0 2px #b4d5ff;
    }
    cursor: pointer;
}

.demo-mention-suggestion-list {
    position: fixed;
    left: -999px;
    top: -999px;
    width: 150px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1;
    background-color: white;
    div {
        padding: 0;
        margin: 0;
        line-height: 35px;
        padding-left: 15px;
        cursor: pointer;
        &.active {
            background-color: #b4d5ff;
            border-radius: 3px;
        }
    }
    padding: 3px;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.slate-element-mention {
    display: inline-block;
    position: relative;
    top: 2px;
    max-width: 100%;
    border: 2px solid transparent;

    .attachment-text {
        cursor: pointer;
        border: none;
        border-radius: 0.25rem;
        display: inline-flex;
        align-items: center;
        height: 28px;
        max-width: 100%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        .file-thumbnail {
            width: 1.25rem;
            height: 1.25rem;
            min-width: 1.25rem;
            min-height: 1.25rem;
            display: inline-flex;
            background-size: cover;
            background-position: center;
            margin-right: 0.25rem;
            align-items: center;
        }
    }

    .thumbnail-wrap {
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;

        .image-icon {
            width: 100%;
            height: 100%;
            vertical-align: middle;
            border-style: none;
        }
    }
    .info-title {
        width: 100%;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 0.875rem;
    }
}
