<div class="demo-rich-editor-wrapper" style="position: relative">
  <slate-editable
    class="demo-slate-angular-editor"
    [editor]="editor"
    [(ngModel)]="value"
    (ngModelChange)="valueChange($event)"
    [renderElement]="renderElement"
    [keydown]="onKeydown"
  >
  </slate-editable>
  <div #suggestionList class="demo-mention-suggestion-list">
    @for (item of suggestions; track $index; let i = $index) {
      <div (mousedown)="mousedown($event, item)" [ngClass]="{ active: i === activeIndex }">
        {{ item }}
      </div>
    }
  </div>
</div>
